@import "./reset";

@import "./_variables.scss";

@import "./_mixins.scss";

@import "./_general.scss";

@import "./blocks/_header.scss";

@import "./blocks/_footer.scss";

@import "./blocks/_hero.scss";

@import "./blocks/_categories.scss";

@import "./blocks/_products.scss";

@import "./blocks/_feature.scss";

.hero_product {
  position: relative;
  display: flex;
  height: 777px;
  background: #f7f7f7;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 600px;
  .hero_product_left {
    height: 23px;
    width: 13px;
    background: rgba(42, 42, 42, 0.15);
    padding: 12px 17px;
  }
  .hero_product_right {
    height: 23px;
    width: 13px;
    background: rgba(42, 42, 42, 0.15);
    padding: 12px 17px;
  }
}

.hero_product_description_box {
  display: flex;
  justify-content: center;
  .hero_product_description {
    position: absolute;
    top: 935px;
    width: 1138px;
    height: 598px;
    margin: 0 auto;
    border: 1px solid #eaeaea;
    background: #ffffff;
    text-align: center;
    .hero_product_heading_pink {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #f16d7f;
      margin-top: 64px;
      margin-bottom: 12px;
    }
    .hero_product_line {
      width: 63px;
      height: 3px;
      background-color: #ef5b70;
      margin: 0 auto;
      margin-bottom: 12px;
    }
    .hero_product_heading_grey {
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      color: #4d4d4d;
      margin-bottom: 48px;
    }
    .hero_product_text {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #5e5e5e;
      padding: 0 25%;
      margin-bottom: 32px;
    }
    .hero_product_price {
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      color: #ef5b70;
      margin-bottom: 65px;
    }
    .hero_product_line_grey {
      border: 1px solid #eaeaea;
      margin: 0 auto;
      width: 641px;
    }
  }
  .products_filter {
    .products_filter_list_right:hover {
      .products_filter_menu {
        display: flex;
      }
    }
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
    margin-top: 65px;
    .products_filter_list {
      position: relative;
      font-size: 14px;
      line-height: 17px;
      .products_filter_list_menu {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 150px;
        width: 59px;
        height: 83px;
        background: #ffffff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        font-size: 14px;
        line-height: 16px;
        color: #6f6e6e;
        padding: 10px 10px;
        align-items: flex-start;
        justify-content: space-between;
        .products_filter_list_menu_text {
          margin-left: 10px;
        }
      }
      .products_filter_img_drop {
        margin-left: 10px;
        margin-right: 28px;
      }
      .products_filter_list_text {
        text-decoration: none;
        color: #6f6e6e;
      }
    }
  }
  .hero_products_add_to_cart {
    border: 1px solid #ff6a6a;
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
    padding: 14px 35px;
    align-items: center;
    text-decoration: none;
    display: flex;
    width: 141px;
    justify-items: center;
    margin: 0 auto;
  }
  .hero_products_add_to_cart_img_margin {
    margin-right: 23px;
  }
}

.cart_container {
  max-width: $width-site;
  margin: 0 auto;
  .cart_box {
    display: flex;
    margin-top: 96px;
    justify-content: space-between;
    .cart_product_cards_box {
      display: flex;
      flex-direction: column;
      margin-bottom: 128px;
      .cart_product_buttons_box {
        display: flex;
        justify-content: space-between;
        .cart_product_button {
          text-decoration: none;
          border: 1px solid #a4a4a4;
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          color: #4a4a4a;
          padding: 14px 38px;
        }
        .cart_product_button:hover {
          color: #ffffff;
          background-color: #ff6a6a;
        }
      }
      .cart_product_card {
        display: flex;
        margin-bottom: 40px;
        filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
        .cart_product_card_img {
          height: 306px;
        }
        .cart_product_card_remove {
          background: #ffffff;
          padding-top: 28px;
          padding-right: 22px;
          padding-left: 119px;
          padding-bottom: 260px;
        }
        .cart_product_card_text_box {
          padding-left: 30px;
          padding-top: 22px;
          background: #ffffff;
          .cart_product_card_text_heading {
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #222222;
            margin-bottom: 42px;
            width: 200px;
          }
          .cart_product_card_text {
            font-size: 22px;
            line-height: 26px;
            color: #575757;
            margin-bottom: 6px;
          }
          .text_pink {
            color: #f16d7f;
            font-weight: 400 !important;
          }
          .cart_product_card_quantity {
            text-decoration: none;
            color: #656565;
            border: 1px solid #eaeaea;
            padding: 1px 16px;
            margin-left: 25px;
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }
  }
  .cart_checkout_box {
    display: flex;
    flex-direction: column;
    width: 360px;
    .cart_checkout_shipping {
      display: flex;
      flex-direction: column;
      .cart_checkout_shipping_header {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        margin-bottom: 20px;
        margin-top: 20px;
      }
      .cart_checkout_shipping_input {
        border: 1px solid #a4a4a4;
        width: 340px;
        height: 42px;
        margin-bottom: 20px;
        padding-left: 17px;
      }
      .cart_product_button {
        text-decoration: none;
        border: 1px solid #a4a4a4;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #4a4a4a;
        padding: 10px 15px;
        width: 100px;
        text-align: center;
      }
      .cart_product_button:hover {
        color: #ffffff;
        background-color: #ff6a6a;
      }
    }
    .cart_checkout_total {
      margin-top: 58px;
      width: 290px;
      background: #f5f3f3;
      padding: 35px 35px;
      text-align: right;
      .cart_checkout_total_text_sub {
        font-size: 11px;
        line-height: 13px;
        color: #4a4a4a;
        margin-bottom: 12px;
      }
      .cart_checkout_total_text_grand {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
      }
      .cart_checkout_total_hr {
        border: 1px solid #e2e2e2;
        margin-top: 21px;
        margin-bottom: 17px;
      }
      .cart_checkout_total_text_sub_margin {
        margin-left: 30px;
      }
      .cart_checkout_total_text_sub_pink {
        color: #f16d7f;
        margin-left: 30px;
      }
      .cart_checkout_button_box {
        margin-top: 17px;
        display: flex;
      }
      .cart_checkout_button {
        text-decoration: none;
        border: 1px solid #a4a4a4;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        background: #f16d7f;
        padding: 14px 38px;
        margin: 0 auto;
      }
    }
  }
}

.login {
  max-width: $width-site;
  margin: 0 auto;
  .login__box {
    display: flex;
    padding-top: 64px;
    padding-bottom: 96px;
    .login__form-box {
      display: flex;
      flex-direction: column;
      margin-right: 128px;
      .login__form-header {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 20px;
      }
      .login__form-input {
        outline: 1px solid #a4a4a4;
        border: none;
        width: 358px;
        height: 42px;
        margin-bottom: 20px;
        padding-left: 17px;
      }
      .login__form_input:focus::placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      .login__form-input:focus,
      .login__form-input:hover {
        outline: 1px solid #e05c6e;
        cursor: pointer;
        border: none;
      }
      .login__form-checkbox {
        margin-top: 10px;
        margin-bottom: 33px;
        .login__form-checkbox-label {
          margin-left: 27px;
          margin-right: 20px;
          position: relative;
          font-weight: 300;
          font-size: 11px;
          line-height: 13px;
          font-family: "Lato";
          color: #000000;
        }
        .login__form-checkbox-label:before {
          content: "";
          width: 17px;
          height: 17px;
          border-radius: 50%;
          border: 1px solid #a4a4a4;
          position: absolute;
          left: -27px;
        }
        .login__form-checkbox-label:after {
          content: "";
          width: 11px;
          height: 11px;
          border-radius: 50%;
          background: #f16d7f;
          position: absolute;
          left: -23px;
          top: 1px;
          display: none;
        }
        .login__form-checkbox-input {
          display: none;
        }
        .login__form-checkbox-input:checked
          + .login__form-checkbox-label:after {
          display: block;
        }
      }
      .login__form-text-gray {
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #b1b1b1;
        margin-bottom: 39px;
        width: 358px;
      }
      .login__form-button {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        background: #f16d7f;
        width: 167px;
        height: 50px;
        border: none;
        .login__form-button-arrow {
          margin-left: 20px;
          fill: white;
        }
      }
      .login__form-button:hover,
      .login__form-button:focus {
        cursor: pointer;
        background: white;
        color: #f16d7f;
        border: 1px solid #f16d7f;
        .login__form-button-arrow {
          fill: #f16d7f;
        }
      }
    }
    .login__form-text-box {
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
      .login__form-text {
        margin-bottom: 16px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1172px) {
  .nav__menu__left {
    margin-left: 32px;
  }
  .nav__menu__right {
    margin-right: 32px;
  }
  .hero__container {
    height: 368px !important;
    position: static !important;
    justify-content: space-between;
    .hero__img {
      position: static !important;
      display: flex;
    }
    .hero__text-box {
      position: relative !important;
      margin-right: 34px;
      top: 0 !important;
      .hero__text:before {
        content: "";
        width: 12px;
        height: 96px;
        background-color: #f16d7f;
        position: absolute;
      }
      .hero__text {
        font-size: 44px !important;
        line-height: 52px;
        .hero__text-top {
          font-size: 24px !important;
          line-height: 29px !important;
          .hero__text-pink {
            font-size: 24px !important;
            line-height: 29px !important;
          }
        }
      }
    }
  }
  .hero_catalog_heading {
    margin-left: 16px;
  }
  .hero_catalog_nav {
    margin-right: 16px;
  }
  .categories {
    overflow: hidden;
    margin-left: 16px;
    margin-right: 16px;
    .categories__box {
      overflow: hidden;
      justify-content: center;
      align-items: center;
      .categories__box-img {
        overflow: hidden;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: auto;
      }
    }
    .categories__box-margin {
      margin-left: 19px;
      margin-right: 19px;
    }
    .categories__box {
      overflow: hidden;
      justify-content: center;
      align-items: center;
      .categories__box-img {
        overflow: hidden;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: auto;
      }
    }
  }
  .products {
    margin-left: 16px;
    margin-right: 16px;
  }
  .feature {
    padding-left: 16px;
    padding-right: 16px;
    .feature__box {
      width: 100%;
    }
  }
  .footer__box-top {
    width: 100%;
  }
  .footer__box-bottom {
    width: 100%;
  }
  .footer__bottom-rights {
    margin-left: 32px;
  }
  .footer__social {
    margin-right: 32px;
  }
  .footer__subscribe {
    margin-right: 97px;
    margin-bottom: 80px !important;
    margin-top: 50px;
    .footer__subscribe-text {
      margin-top: 20px;
    }
  }
  .cart_box {
    margin-left: 16px;
    margin-right: 16px;
  }
  .login__box {
    margin-left: 16px !important;
    margin-right: 16px !important;
  }
  .login__form-box {
    margin-right: 23px !important;
  }
  .login__form-text-box {
    font-weight: 300 !important;
    font-size: 16px !important;
    line-height: 19px !important;
  }
}

@media (max-width: 1140px) {
  .hero_product_description {
    width: auto !important;
  }
}

@media (max-width: 1111px) {
  .products__box {
    justify-content: space-between !important;
  }
  .feature__box {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 48px;
  }
  .products_card_hide {
    display: none !important;
  }
  .products_filter_list {
    margin-right: 0 !important;
  }
  .feature {
    height: auto !important;
    margin-top: 48px;
  }
  .categories {
    overflow: hidden;
    .categories__box {
      overflow: hidden;
      justify-content: center;
      align-items: center;
      .categories__box-img {
        overflow: hidden;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: auto;
      }
    }
    .categories__box-margin {
      margin-left: 19px;
      margin-right: 19px;
    }
    .categories__box {
      overflow: hidden;
      justify-content: center;
      align-items: center;
      .categories__box-img {
        overflow: hidden;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: auto;
      }
    }
  }
  .cart_product_buttons_box {
    justify-content: space-around !important;
  }
  .cart_box {
    flex-direction: column;
    align-items: center;
    .cart_product_cards_box {
      margin-bottom: 65px !important;
    }
    .cart_checkout_box {
      flex-direction: initial;
      width: auto;
      margin-bottom: 130px;
      .cart_checkout_total {
        margin-left: 15px;
        padding-bottom: 42px;
      }
    }
  }
}

@media (max-width: 920px) {
  .footer__box-top {
    flex-direction: column;
    align-items: center;
  }
  .footer__feedback {
    margin-top: 64px !important;
    margin-left: 0 !important;
  }
  .footer__subscribe {
    margin-bottom: 160px;
    margin-right: 0px !important;
  }
  .footer__subscribe-text {
    margin-top: 48px;
    margin-bottom: 27px;
  }
  .footer__container-top {
    height: 100%;
    background-size: cover;
  }
  .login__form-box {
    margin-right: 22px !important;
  }
  .login__form-text-box {
    font-size: 16px !important;
    line-height: 19px !important;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .nav__menu__left {
    margin-left: 32px;
  }
  .nav__menu__right {
    margin-right: 32px;
  }
  .hero__container {
    height: 363px !important;
    justify-content: center;
    .hero__img {
      display: none;
    }
    .hero__text-box {
      position: relative !important;
      margin-right: 34px;
      top: 0 !important;
      left: 0 !important;
      .hero__text:before {
        content: "";
        width: 12px;
        height: 75px !important;
        background-color: #f16d7f;
        position: absolute;
      }
      .hero__text {
        font-size: 38px !important;
        line-height: 45px !important;
        .hero__text-top {
          font-size: 20px !important;
          line-height: 24px !important;
          .hero__text-pink {
            font-size: 20px !important;
            line-height: 24px !important;
          }
        }
      }
    }
  }
  .hero_catalog_heading {
    margin-left: 16px;
  }
  .hero_catalog_nav {
    margin-right: 16px;
  }
  .hero_catalog {
    flex-direction: column;
    justify-content: space-evenly !important;
    .hero_catalog_heading {
      margin-left: 0;
    }
    .hero_catalog_nav {
      margin-right: 0;
    }
  }
  .products_filter_img {
    width: auto;
    height: 25px;
    margin-left: 0 !important;
  }
  .products_filter_list {
    font-size: 12px !important;
    line-height: 14px !important;
    margin-left: 21px;
    .products_filter_img_drop {
      margin-right: 24px !important;
    }
  }
  .nav__menu-item {
    display: none !important;
  }
  .categories {
    margin-left: 16px;
    margin-right: 16px;
    .categories__box {
      overflow: visible !important;
      .categories__box-img {
        overflow: visible;
        width: 100%;
      }
    }
    .categories__box-accesories {
      height: 111px;
    }
    .categories_box-img-accesories {
      width: auto !important;
    }
    .categories__box-container {
      flex-direction: column;
    }
    .categories__box-margin {
      margin-top: 16px;
      margin-bottom: 16px;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .products__box {
    justify-content: center !important;
  }
  .products_filter_list_right_hide {
    display: none;
  }
  .feature {
    padding-left: 16px;
    padding-right: 16px;
    .feature__box {
      width: 100%;
      height: auto;
      padding-bottom: 48px;
    }
    .feature__container {
      height: auto;
      margin-top: 48px;
    }
  }
  .footer__box-top {
    width: 100%;
  }
  .footer__subscribe {
    margin-bottom: 80px !important;
    margin-top: 50px;
    .footer__subscribe-text {
      margin-top: 20px;
    }
  }
  .footer__box-bottom {
    width: 100%;
  }
  .footer__bottom-rights {
    margin-left: 16px;
  }
  .footer__social {
    margin-right: 16px;
  }
  .footer__box-bottom {
    flex-direction: column;
  }
  .footer__bottom-rights {
    margin-left: 0;
  }
  .footer__social {
    margin-right: 0;
    margin-bottom: 9px;
  }
  .hero_product_img {
    width: 100%;
    display: flex;
    overflow: visible;
  }
  .hero_product_line_grey {
    width: 174px !important;
  }
  .hero_product_text {
    padding: 0 10% !important;
  }
  .hero_product_price {
    margin-bottom: 32px !important;
  }
  .products_filter {
    margin-top: 50px !important;
    margin-bottom: 64px !important;
  }
  .hero_products_add_to_cart {
    margin-bottom: 65px !important;
  }
  .hero_product_description {
    height: auto !important;
  }
  .cart_checkout_box {
    flex-direction: column !important;
    margin-bottom: 96px !important;
    .cart_checkout_shipping {
      margin-left: 10px;
      margin-right: 10px;
    }
    .cart_checkout_total {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .cart_product_card_img {
    width: 145px !important;
    height: 188px !important;
    overflow: hidden;
  }
  .cart_product_card_text_box {
    padding-left: 17px !important;
    padding-top: 14px !important;
    .cart_product_card_text_heading {
      margin-bottom: 25px !important;
      font-size: 16px !important;
      line-height: 19px !important;
      width: 135px !important;
    }
    .cart_product_card_text {
      font-size: 14px !important;
      line-height: 17px !important;
      .cart_product_card_quantity {
        font-size: 10px !important;
        line-height: 12px !important;
        padding: 1px 8px !important;
      }
    }
  }
  .cart_product_card_remove {
    padding-top: 17px !important;
    padding-right: 12px !important;
    padding-bottom: 153px !important;
    padding-left: 25px !important;
  }
  .cart_product_buttons_box {
    width: 100%;
    justify-content: center !important;
  }
  .cart_product_button {
    font-size: 12px !important;
    line-height: 14px !important;
    padding: 9px 18px !important;
    margin-left: 5px;
    margin-right: 5px;
  }
  .cart_product_cards_box {
    width: 100%;

    align-items: center;
    margin: 0 auto;
    .cart_product_card {
      overflow: hidden;
    }
  }
  .login__box {
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    .login__form-box {
      margin-right: 0 !important;
      margin: 0 auto;
    }
  }
  .login__form-text-box {
    margin-top: 40px;
  }
  .login__form-input {
    width: 319px !important;
  }
}
