.cart_container {
  max-width: $width-site;
  margin: 0 auto;
  .cart_box {
    display: flex;
    margin-top: 96px;
    justify-content: space-between;
    .cart_product_cards_box {
      display: flex;
      flex-direction: column;
      margin-bottom: 128px;
      .cart_product_buttons_box {
        display: flex;
        justify-content: space-between;
        .cart_product_button {
          text-decoration: none;
          border: 1px solid #a4a4a4;
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          color: #4a4a4a;
          padding: 14px 38px;
        }
        .cart_product_button:hover {
          color: #ffffff;
          background-color: #ff6a6a;
        }
      }
      .cart_product_card {
        display: flex;
        margin-bottom: 40px;
        filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
        .cart_product_card_img {
          height: 306px;
        }
        .cart_product_card_remove {
          background: #ffffff;
          padding-top: 28px;
          padding-right: 22px;
          padding-left: 119px;
          padding-bottom: 260px;
        }
        .cart_product_card_text_box {
          padding-left: 30px;
          padding-top: 22px;
          background: #ffffff;
          .cart_product_card_text_heading {
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #222222;
            margin-bottom: 42px;
            width: 200px;
          }
          .cart_product_card_text {
            font-size: 22px;
            line-height: 26px;
            color: #575757;
            margin-bottom: 6px;
          }
          .text_pink {
            color: #f16d7f;
            font-weight: 400 !important;
          }
          .cart_product_card_quantity {
            text-decoration: none;
            color: #656565;
            border: 1px solid #eaeaea;
            padding: 1px 16px;
            margin-left: 25px;
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }
  }
  .cart_checkout_box {
    display: flex;
    flex-direction: column;
    width: 360px;
    .cart_checkout_shipping {
      display: flex;
      flex-direction: column;
      .cart_checkout_shipping_header {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        margin-bottom: 20px;
        margin-top: 20px;
      }
      .cart_checkout_shipping_input {
        border: 1px solid #a4a4a4;
        width: 340px;
        height: 42px;
        margin-bottom: 20px;
        padding-left: 17px;
      }
      .cart_product_button {
        text-decoration: none;
        border: 1px solid #a4a4a4;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #4a4a4a;
        padding: 10px 15px;
        width: 100px;
        text-align: center;
      }
      .cart_product_button:hover {
        color: #ffffff;
        background-color: #ff6a6a;
      }
    }
    .cart_checkout_total {
      margin-top: 58px;
      width: 290px;
      background: #f5f3f3;
      padding: 35px 35px;
      text-align: right;
      .cart_checkout_total_text_sub {
        font-size: 11px;
        line-height: 13px;
        color: #4a4a4a;
        margin-bottom: 12px;
      }
      .cart_checkout_total_text_grand {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
      }
      .cart_checkout_total_hr {
        border: 1px solid #e2e2e2;
        margin-top: 21px;
        margin-bottom: 17px;
      }
      .cart_checkout_total_text_sub_margin {
        margin-left: 30px;
      }
      .cart_checkout_total_text_sub_pink {
        color: #f16d7f;
        margin-left: 30px;
      }
      .cart_checkout_button_box {
        margin-top: 17px;
        display: flex;
      }
      .cart_checkout_button {
        text-decoration: none;
        border: 1px solid #a4a4a4;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        background: #f16d7f;
        padding: 14px 38px;
        margin: 0 auto;
      }
    }
  }
}
