.cart {
  max-width: $width-site;
  margin: 0 auto;
  .cart__box {
    display: flex;
    margin-top: 96px;
    justify-content: space-between;
    .cart__product-cards-box {
      display: flex;
      flex-direction: column;
      margin-bottom: 128px;
      .cart__product-buttons-box {
        display: flex;
        justify-content: space-between;
        .cart__product-button {
          text-decoration: none;
          border: 1px solid #a4a4a4;
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          color: #4a4a4a;
          padding: 14px 38px;
          text-transform: uppercase;
        }
        .cart__product-button:hover {
          color: #ffffff;
          background-color: #f16d7f;
        }
      }
      .cart__product-card {
        display: flex;
        margin-bottom: 40px;
        filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
        .cart__product-card-img {
          height: 306px;
        }
        .cart__product-card-remove {
          background: #ffffff;
          padding-top: 28px;
          padding-right: 22px;
          padding-left: 119px;
          padding-bottom: 260px;
        }
        .cart__product-card-text-box {
          padding-left: 30px;
          padding-top: 22px;
          background: #ffffff;
          .cart__product-card-text-heading {
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #222222;
            margin-bottom: 42px;
            width: 200px;
            text-transform: uppercase;
          }
          .cart__product-card-text {
            font-size: 22px;
            line-height: 26px;
            color: #575757;
            margin-bottom: 6px;
          }
          .cart__product-card-text-pink {
            color: #f16d7f;
            font-weight: 400 !important;
          }
          .cart__product-card-quantity {
            text-decoration: none;
            color: #656565;
            border: 1px solid #eaeaea;
            padding: 1px 16px;
            margin-left: 25px;
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }
  }
  .cart__checkout-box {
    display: flex;
    flex-direction: column;
    width: 360px;
    .cart__checkout-shipping {
      display: flex;
      flex-direction: column;
      .cart__checkout-shipping-header {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        margin-bottom: 20px;
        margin-top: 20px;
        text-transform: uppercase;
      }
      .cart__checkout-shipping-input {
        outline: 1px solid #a4a4a4;
        border: none;
        width: 340px;
        height: 42px;
        margin-bottom: 20px;
        padding-left: 17px;
      }
      .cart__checkout-shipping-input:focus,
      .cart__checkout-shipping-input:hover {
        outline: 1px solid #e05c6e;
        cursor: pointer;
        border: none;
      }
      .cart__checkout-shipping-input:focus::placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      .cart__product-button {
        text-decoration: none;
        border: 1px solid #a4a4a4;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #4a4a4a;
        background-color: white;
        width: 100px;
        height: 34px;
        text-align: center;
        text-transform: uppercase;
      }
      .cart__product-button:hover {
        color: #ffffff;
        background-color: #f16d7f;
      }
    }
    .cart__checkout-total {
      margin-top: 58px;
      width: 290px;
      background: #f5f3f3;
      padding: 35px 35px;
      text-align: right;
      .cart__checkout-total-text-sub {
        font-size: 11px;
        line-height: 13px;
        color: #4a4a4a;
        margin-bottom: 12px;
        text-transform: uppercase;
      }
      .cart__checkout-total-text-grand {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        text-transform: uppercase;
      }
      .cart__checkout-total-hr {
        border: 1px solid #e2e2e2;
        margin-top: 21px;
        margin-bottom: 17px;
      }
      .cart__checkout-total-text-sub-margin {
        margin-left: 30px;
      }
      .cart__checkout-total-text-sub-pink {
        color: #f16d7f;
        margin-left: 30px;
        font-weight: 700;
      }
      .cart__checkout-button-box {
        margin-top: 17px;
        display: flex;
      }
      .cart__checkout-button {
        text-decoration: none;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        background: #f16d7f;
        padding: 14px 38px;
        margin: 0 auto;
        text-transform: uppercase;
      }
      .cart__checkout-button:hover {
        background: white;
        color: #222;
        outline: 1px solid #a4a4a4;
      }
    }
  }
}
