.products {
  max-width: $width-site;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 95px;
  .products__heading {
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
    color: #222222;
    margin-bottom: 6px;
  }
  .products__text {
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
    font-weight: 400;
  }
  .products__box {
    margin-top: 48px;
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: space-between;
    text-align: center;
    .products__card {
      width: 360px;
      text-align: left;
      background: #f8f8f8;
      display: flex;
      flex-direction: column;
      .products__card-img {
        margin-bottom: 25px;
      }
      .products__card-img-shadow {
        position: absolute;
        width: 360px;
        height: 420px;
        background-color: #5d5d5d;
        opacity: 0.9;
        text-align: center;
        display: none;
        justify-content: center;
        align-items: center;
        .products__add-to-cart {
          display: flex;
          text-decoration: none;
          border: 1px solid #ffffff;
          font-size: 14px;
          line-height: 17px;
          color: #ffffff;
          padding: 14px 16px;
          align-items: center;
        }
        .products__add-to-cart:hover {
          border: 1px solid #f16d7f;
          background-color: #f16d7f;
        }
        .products__add-to-cart-img-margin {
          margin-right: 11px;
        }
      }
      .products__card-heading {
        margin-top: 25px;
        margin-left: 18px;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
        text-decoration: none;
      }
      .products__card-text {
        margin-top: 12px;
        margin-left: 18px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5d5d5d;
      }
      .products__card-text-pink {
        margin-top: 18px;
        margin-left: 18px;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 19px;
        color: #f16d7f;
      }
    }
  }
  .products__browse {
    text-decoration: none;
    border: 1px solid #ff6a6a;
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
    padding: 14px 38px;
  }
  .products__browse:hover {
    color: #ffffff;
    background-color: #f16d7f;
  }
  .products__card:hover {
    .products__card-img-shadow {
      display: flex;
    }
  }
  .products__filter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin-top: 48px;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    .products__filter-list {
      position: relative;
      font-size: 14px;
      line-height: 17px;
      text-align: left;
      .display-block {
        display: flex !important;
      }
      .products__filter-list-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 170px;
        top: 25px;
        width: 59px;
        height: 83px;
        background: #ffffff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        font-size: 14px;
        line-height: 16px;
        color: #6f6e6e;
        padding: 10px 10px;
        align-items: flex-start;
        justify-content: space-between;
        .products__filter-list-menu-text {
          margin-left: 10px;
        }
      }
      .products__filter-list-text {
        text-decoration: none;
        color: #6f6e6e;
        margin-left: 28px;
      }
    }
  }
  .products__filter-list-right-hide {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
  .products__filter-list-menu {
    display: flex;
    position: relative;
    .display-block {
      display: flex !important;
    }
    .products__filter-menu {
      display: none;
      box-shadow: 5px 10px 25px #c9c9c9;
      position: absolute;
      flex-direction: column;
      background-color: #ffffff;
      padding: 13px 16px;
      width: 328px;
      text-align: left;
      .products__filter-menu-category-link {
        margin-bottom: 11px;
        margin-left: 19px;
        text-decoration: none;
        font-size: 14px;
        line-height: 17px;
        color: #6f6e6e;
      }
      .products__filter-menu-heading {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #ef5b70;
        display: flex;
        margin-bottom: 16px;
      }
    }
  }
  .products__filter-menu-line-box {
    height: 37px;
    font-size: 14px;
    line-height: 17px;
    color: #ef5b70;
    display: flex;
    font-weight: 400;
    align-items: center;
    .products__filter-menu-line {
      width: 7px;
      height: 37px;
      background-color: #ef5b70;
      margin-right: 11px;
    }
  }
  .products__hr-color {
    color: #ebebeb;
    background-color: #ebebeb;
    margin-bottom: 18px;
  }
  .products__filter-img {
    margin-left: 11px;
  }
  .products_pagination_box {
    display: flex;
    justify-content: center;
  }
  .products__pagination {
    justify-self: center;
    height: 43px;
    width: 283px;
    border: 1px solid #ebebeb;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .products__pagination-active {
      text-decoration: none;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #ef5b70;
    }
    .products__pagination-inactive {
      text-decoration: none;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: rgb(180, 180, 180);
    }
  }
}
